/* .col-sm-4,
.col-sm-3,
.col-sm-1 {
  background-color: #cbd4de;
  border-style: solid;
  border-width: 5px;
  border-color: #0c0b15;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.col-sm-4 {
  width: 40%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-1 {
  width: 10%;
}

#main {
  font-size: 40px;
  font-family: Lilita One;
  font-weight: bold;
  color: #0c0b15;
  margin-left: 5px;
}

th {
  height: 50px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  vertical-align: baseline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #cbd4de;
}

div.row {
  text-align: center;
  vertical-align: baseline;
  height: 60px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu,
.menu-s {
  font-family: Lilita One;
  font-weight: 300;
  color: #0c0b15;
  background-color: #cbd4de;
}

.menu {
  font-size: 40px;
}

.menu-s {
  font-size: 20px;
  text-align: center;
  padding-left: 40px;
  margin: 0;
}
*/

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: max-content; */
/* text-align: center;
}

#navbar {
  margin-top: 20px;
  margin-left: 13px;
}

.navbar-text {
  display: block;
  text-decoration: none;
  border-color: #0c0b15;
  background-color: #cbd4de;
  border-style: solid;
  border-width: 5px;
  border-color: #0c0b15;
  border-radius: 5px;
  font-size: 40px;
  font-family: Lilita One;
  font-weight: 300;
  color: #0c0b15;
}

/* Change the link color on hover */
/*.navbar:hover {
  color: azure;
}

#img-logo {
  margin-bottom: 25px;
} */

#header, #footer {
  width: 100%;
  height: 70px;
  text-align: center;
  background: #cbd4de;
  border-style: solid;
  border-width: 5px;
  border-color: #0c0b15;
  border-radius: 5px;
  font-family: Lilita One;
  font-weight: 300;
  color: #0c0b15;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  vertical-align: text-top;
  float: left;
}

#left-side {
  width:20%;
  text-align: center;
  background: #cbd4de;
  border-style: solid;
  border-width: 5px;
  border-color: #0c0b15;
  border-radius: 5px;
  font-family: Lilita One;
  font-weight: 300;
  color: #0c0b15;
  font-size: 40px;
  padding: 0px;
  margin: 0px;
  vertical-align: text-top;
  float: left;
}

#nav {
  list-style: none;
  margin:0;
  padding:0;
}

#nav li {
  display:block;
}

#main-content {
  width:80%;
  float: left;
}
a {
  text-decoration: none;
}

a:hover {
  font-size: 43px;
  color: azure;
  text-decoration: none;
}

/* a:visited {
  color: #0c0b15;
} */
