body {
    background-color: rgb(7, 7, 61);
    background-image: url("background-image.jpg")
}

.div-class {
    background-color: rgb(7, 7, 61);
    color:rgb(255, 255, 255);
}

a {
    color:aqua;
}
